body {
  color: $text-color-900;
  line-height: 1.5;
  font-weight: 500;
  letter-spacing: 0.05em;
  font-family: "Noto Sans TC", "sans-serif";
}

/*footer*/
.member span {
  font-size: 24px;
  font-weight: 700;
  line-height: 1.2;
}

.footer {
  background-color: $text-color-100;
}

.copyRight {
  color: $text-color-600;
  font-size: 14px;
  font-weight: 400;
  text-align: center;
}

/*index*/
.banner {
  color: $text-color-000;
  font-weight: 700;
  line-height: 1.2;
}

.banner-title {
  font-size: 64px;
}

.banner-text {
  font-size: 28px;
}

.newArrival {
  font-weight: 700;
  line-height: 1.2;
}

.newArrival-title {
  font-size: 48px;
}

.newArrival-text {
  font-size: 32px;
}

.new-title {
  font-size: 20px;
  font-weight: 700;
  line-height: 1.2;
}

.hot-sale {
  font-size: 32px;
  font-weight: 700;
  line-height: 1.2;
}

.number-1 {
  font-size: 14px;
  color: $primary-color-400;
  background-color: $primary-color-100;
}

.banner-co-branded h5 {
  color: $text-color-000;
  font-size: 48px;
  line-height: 1.2;
}

.banner-x.mx-24 {
  color: $primary-color-300;
}

.banner-co-branded-text {
  color: $text-color-000;
  font-size: 32px;
  text-align: center;
}

.banner-co-branded-text-s {
  color: $text-color-500;
  font-size: 20px;
  text-align: center;
}

.shop-series {
  font-size: 32px;
  font-weight: 700;
  line-height: 1.2;
}

.shop-series-text-title {
  font-size: 28px;
}

.shop-series-text .shop-series-text-s {
  font-size: 20px;
}

.outfit-content {
  font-size: 32px;
  font-weight: 700;
  line-height: 1.2;
}

/*productList*/
.current-page {
  font-size: 28px;
  line-height: 1.2;
  font-weight: 700;
}

.card h2 {
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 4px;
}

/*productDetail*/
.product-title {
  font-size: 32px;
  font-weight: 700;
  line-height: 1.2;
}

.sale {
  font-size: 20px;
  font-weight: 700;
  line-height: 1.2;
  color: $primary-color-400;
}

.original {
  font-size: 14px;
  font-weight: 400;
  color: $text-color-500;
  text-decoration: line-through;
}

.product-right p {
  font-weight: 400;
}

.color-list p {
  color: $text-color-600;
}

.remaining {
  font-size: 14px;
  font-weight: 400;
  color: $danger-color-300;
}

.production-item ul li {
  font-weight: 400;
  color: $text-color-600;
}

.maylike-text {
  font-size: 24px;
  font-weight: 700;
  line-height: 1.2;
}

/*story*/
.story-title h1 {
  color: $text-color-000;
  font-size: 40px;
  font-weight: 700;
  line-height: 1.2;
}

.story-title span {
  color: $text-color-000;
  font-size: 28px;
  font-weight: 700;
  line-height: 1.2;
}

.slogan-title {
  font-size: 20px;
  font-weight: 700;
  line-height: 1.2;
  color: $primary-color-400;
}

.slogan p,
.introduction p,
.history li,
.concept li {
  line-height: 1.5;
  font-size: 16px;
  font-weight: 400;
}

.introduction-title {
  font-size: 24px;
  font-weight: 700;
}

.short-story li a {
  color: $primary-color-400;
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
}

.short-story span {
  color: $primary-color-400;
}