/*padding*/
.px-12 {
    padding: 0px 12px;
}

.px-152 {
    padding: 152px 0px;
}

.p-0 {
    padding: 0px !important;
}

.pt-32 {
    padding-top: 32px;
}

.pt-100 {
    padding-top: 100px;
}

.py-12 {
    padding: 12px 0px;
}

.py-17 {
    padding: 17px 0px;
}

.py-48 {
    padding: 48px 0px;
}

.py-64 {
    padding: 64px 0px;
}

.pl-12 {
    padding-left: 12px;
}

.pl-16 {
    padding-left: 16px;
}

.pb-24 {
    padding-bottom: 24px;
}

.pb-48 {
    padding-bottom: 48px;
}

.pb-72 {
    padding-bottom: 72px;
}

/*margin*/
.m-0 {
    margin: 0px !important;
}

.mx-24 {
    margin: 0px 24px;
}

.my-24 {
    margin: 24px 0px;
}

.mt-12 {
    margin-top: 12px;
}

.mt-40 {
    margin-top: 40px;
}

.mt-48 {
    margin-top: 48px;
}

.mt-64 {
    margin-top: 64px;
}

.ml-12 {
    margin-left: 12px;
}

.mr-auto {
    margin-right: auto;
}

.mr-8 {
    margin-right: 8px;
}

.mr-12 {
    margin-right: 12px;
}

.mr-16 {
    margin-right: 16px;
}

.mr-24 {
    margin-right: 24px;
}

.mr-40 {
    margin-right: 40px;
}

.mr-48 {
    margin-right: 48px;
}

.mb-4 {
    margin-bottom: 4px;
}

.mb-8 {
    margin-bottom: 8px;
}

.mb-12 {
    margin-bottom: 12px;
}

.mb-16 {
    margin-bottom: 16px;
}

.mb-20 {
    margin-bottom: 20px;
}

.mb-21 {
    margin-bottom: 21px;
}

.mb-24 {
    margin-bottom: 24px;
}

.mb-32 {
    margin-bottom: 32px;
}

.mb-48 {
    margin-bottom: 48px;
}

.mb-64 {
    margin-bottom: 64px;
}

/*display*/
.d-none {
    display: none;
}

.d-flex {
    display: flex;
    justify-content: center;
}

.g-8 {
    gap: 8px;
}