/*color*/
$primary-color-100: #F5FEE7;
$primary-color-200: #E8FEC5;
$primary-color-300: #C0FA73;
$primary-color-400: #57A203;
$primary-color-500: #477A11;

$text-color-000: #FFFFFF;
$text-color-100: #F8F9FA;
$text-color-200: #E9ECEF;
$text-color-300: #DEE2E6;
$text-color-400: #CED4DA;
$text-color-500: #ADB5BD;
$text-color-600: #6C757D;
$text-color-700: #495057;
$text-color-800: #343A40;
$text-color-900: #212529;

$danger-color-100: #FCF1F1;
$danger-color-200: #EBA7A7;
$danger-color-300: #D74F4F;

$success-color-100: #EFF8F4;
$success-color-200: #9AD1BA;
$success-color-300: #36A375;

$warning-color-100: #FEF6EC;
$warning-color-200: #F9C588;
$warning-color-300: #F38B12;

$info-color-100: #EEF5FC;
$info-color-200: #97C3ED;
$info-color-300: #3087DB;