 <div class="member mt-40">
        <span class="mr-24">加入會員取得9折優惠</span>
        <a href="#" class="btn">馬上註冊</a>
    </div>
<footer class="footer py-64">
    <ul class="container footerList pb-24">
        <li class="mr-auto"><a href="index.html" class="logo"><img src="/assets/images/logo.svg" alt="logo"></a></li>
        <li><a href="productList.html" class="py-12 mr-40">商品列表</a></li>
        <li><a href="story.html" class="py-12">品牌故事</a></li>
    </ul>
    <div class="copyRight pt-32">
        <p class="mb-4">Copyright ©2025 URBNSTYLE</p>
        <p>All Rights Reserved.</p>
    </div>
</footer>