<header class="header">
    <div class="headerList">
        <a href="index.html" class="logo"><img src="/assets/images/logo.svg" alt="logo"></a>
        <a href="productList.html" class="py-12 mr-40">商品列表</a>
        <a href="story.html" class="py-12">品牌故事</a>
    </div>
    <div class="memberBtn">
        <a href="#"><img src="/assets/images/person.svg" alt="member"></i></a>
    </div>
</header>