.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.headerList {
  display: flex;
  align-items: center;
}

.headerList a {
  display: block;
  color: $text-color-900;
  text-decoration: none;
  border-bottom: 1px solid transparent;
}

.headerList a:hover {
  color: $primary-color-400;
  border-color: $primary-color-400;
}

.headerList .logo:hover {
  border-bottom: 1px solid transparent;
}

.logo img {
  display: block;
}

.memberBtn {
  padding: 15px;
}