.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.headerList {
  display: flex;
  align-items: center;
}

.headerList a {
  display: block;
  color: $text-color-900;
  text-decoration: none;
  border-bottom: 1px solid transparent;
}

.headerList a:hover {
  color: $primary-color-400;
  border-color: $primary-color-400;
}

.headerList .logo:hover {
  border-bottom: 1px solid transparent;
}

.logo img {
  display: block;
}

.memberBtn {
  padding: 15px;
}

.memberBtn img {
  width: 18px;
  height: 18px;
}

/*響應式*/
@media(max-width:768px) {
  .header {
    padding: 9px 0px;
  }

  .headerList a:not(.logo) {
    display: none;
  }


}