.banner {
    background-image: url(/assets/images/banner.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 289px 0px 288px 200px;
}

.bannerBtn {
    display: inline-block;
    color: $text-color-900;
    padding: 12px 24px;
    background-color: $primary-color-300;
    border-radius: 4px;
    text-decoration: none;
    &:hover {
        color: $primary-color-500;
    }
}

.newArrival {
    text-align: center;
}

.newArrival-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 24px;
    margin-left: -12px;
    margin-right: -12px;

    .newArrival-item {
        width: calc(50% - 12px);
    }

    .newArrival-item img {
        width: 100%;
    }
}

.hot-sale {
    margin-left: -12px;
    margin-right: -12px;
}

.hot-sale .row .col-3 img {
    display: block;
    width: 100%;
}

.hotsale-img {
    position: relative;
    
    a {
    display: block;
    transition: all 0.3s ease;
    }
}

.hotsale-img a:hover {
    box-shadow: 0 4px 12px rgba(57, 59, 59, 0.4);
}

.number-1 {
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    padding: 8px 12px;
    margin-left: 12px;
}

.banner-co-branded {
    background-image: url(/assets/images/banner-co-branded.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 470px;
    text-align: center;

}

.banner-co-branded-Btn {
    display: block;
    color: $text-color-900;
    background-color: $primary-color-300;
    text-decoration: none;
    width: 115px;
    padding: 12px 0px;
    border-radius: 4px;
    margin: 0 auto;
    &:hover {
        color: $primary-color-500;
    }
}

.star-p {
    position: relative;
    display: inline-block; // 確保寬高跟文字有關
}

.star {
    display: block;
    position: absolute;
    top: -32px;
    left: -80px;
}

.sparkle-p {
    position: relative;
    display: inline-block; // 確保寬高跟文字有關
}

.sparkle {
    display: block;
    position: absolute;
    top: 10px;
    right: -70px;
}

.shop-series {
    margin-left: -12px;
    margin-right: -12px;
}

.shop-series .row .col-3 img {
    display: block;
    width: 100%;
}

.shop-series .row .col-3 a {
    display: block;
    transition: all 0.3s ease;
    
    &:hover {
    box-shadow: 0 4px 12px rgba(57, 59, 59, 0.4);
    .shop-series-text-title {
        color: $primary-color-300;
    }
    }
}

.img-mask {
    position: relative;
    display: block;
    width: 100%;
}

.img-mask img {
    display: block;
    width: 100%;
    height: auto;
}

.img-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4); // 40% 黑色透明遮罩
    pointer-events: none; // 不干擾點擊
}

.shop-series-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); // 👉 正中對齊關鍵
    white-space: nowrap; // 避免換行
    color: $text-color-000;
    text-align: center;
}

.outfit {
    margin-left: -12px;
    margin-right: -12px;
}

.outfit-list {
    display: flex;
    flex-wrap: wrap;
}

.outfit-row {
    display: flex;
    flex-wrap: wrap;
}

.outfit-4 {
    display: flex;
    flex-wrap: wrap;
    width: calc(33.33333% - 8px);
}

.outfit-item-s {
    width: 50%;
}

.outfit-item-b {
    width: 100%;
}

.outfit-img {
    display: block;
    width: 100%;
}

/*index*/
@media(max-width:768px) {
    .d-none {
        display: block;

    }

    .index-btn {
        display: flex;

        a {
            display: block;
            text-decoration: none;
            text-align: center;
            width: 50%;
            padding: 12px 0px;
            color: $text-color-900;
        }
    }

    .index-btn-1 {
        background-color: $primary-color-200;
    }

    .index-btn-2 {
        background-color: $primary-color-100;
    }

    .banner {
        background-image: url(/assets/images/banner-sm.png);
        width: 100%;
        padding: 155px 5%;

        &.mb-64 {
            margin-bottom: 40px;
        }
    }

    .banner-title {
        font-size: 48px;
    }

    .banner-text {
        font-size: 20px;
    }

    .newArrival-title {
        font-size: 32px;

        &.mb-12 {
            margin-bottom: 8px;
        }
    }

    .newArrival-text {
        font-size: 24px;

        &.mb-32 {
            margin-bottom: 24px;
        }
    }

    .newArrival-list {
        gap: 12px;
        margin-left: 0px;
        margin-right: 0px;

        &.mb-64 {
            margin-bottom: 40px;
        }
    }

    .newArrival-item {
        width: calc(50% - 6px);

        .new-title {
            font-size: 16px;
        }

        &.mb-16 {
            margin-bottom: 12px;
        }

        .mb-12 {
            margin-bottom: 8px;
        }

        .mb-4 {
            margin-bottom: 0;
        }
    }

    .hot-sale {
        font-size: 24px;
        margin-left: 0px;
        margin-right: 0px;

        .rwd-none {
            display: none;
        }

        .d-none {
            display: block;
        }

        .col-3 {
            width: 100%;
        }
    }

    .py-48 {
        padding: 24px 0px;
    }

    .banner-co-branded {
        overflow: hidden;
        .d-flex {
            flex-direction: column;
        }

        h5 {
            font-size: 32px;
        }

        .banner-x.mx-24 {
            margin: 8px 0px;
        }
    }

    .banner-co-branded-text {
        font-size: 20px;

        &.mb-32 {
            margin-bottom: 24px;
        }
    }

    .banner-co-branded-text-s {
        font-size: 16px;
        padding: 0px 30px;

        &.mb-48 {
            margin-bottom: 32px;
        }
    }

    .star {
        top: -30px;
        left: -25px;
    }

    .sparkle {
        top: 15px;
        right: -40px;
    }

    .shop-series {
        font-size: 24px;
        padding: 0 12px;

        .mt-64 {
            margin-top: 40px;
        }

        .row {
            gap: 12px;
            padding: 0 12px;

            &.mb-64 {
                margin-bottom: 85.5px;
            }
        }

        .col-3 {
            padding: 0px;
            width: calc(50% - 6px);
        }

        .shop-series-text-title {
            font-size: 16px;
        }

        .shop-series-text-s {
            font-size: 16px;
        }
    }

    .outfit.pb-72 {
        padding-bottom: 40px;
    }

    .outfit-content {
        font-size: 24px;
        padding: 0 12px;

        .mt-64 {
            margin-top: 0;
        }

        .mb-16 {
            margin-bottom: 21.5px;
        }
    }

    .outfit-list .swiper-slide {
        width: auto;
    }

    .outfit-img {
        width: 100%;
        display: block;
    }

}