.banner {
    background-image: url(/assets/images/banner.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 289px 0px 288px 200px;
}

.bannerBtn {
    display: inline-block;
    color: $text-color-900;
    padding: 12px 24px;
    background-color: $primary-color-300;
    border-radius: 4px;
    text-decoration: none;
    &:hover {
        color: $primary-color-500;
    }
}

.newArrival {
    text-align: center;
}

.newArrival-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 24px;
    margin-left: -12px;
    margin-right: -12px;

    .newArrival-item {
        width: calc(50% - 12px);
    }

    .newArrival-item img {
        width: 100%;
        object-fit: cover
    }
}

.hot-sale {
    margin-left: -12px;
    margin-right: -12px;
}

.hot-sale .row .col-3 img {
    display: block;
    width: 100%;
}

.hotsale-img {
    position: relative;
    
    a {
    display: block;
    transition: all 0.3s ease;
    }
}

.hotsale-img a:hover {
    box-shadow: 0 4px 12px rgba(57, 59, 59, 0.4);
}

.number-1 {
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    padding: 8px 12px;
    margin-left: 12px;
}

.banner-co-branded {
    background-image: url(/assets/images/banner-co-branded.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 470px;
    text-align: center;

}

.banner-co-branded-Btn {
    display: block;
    color: $text-color-900;
    background-color: $primary-color-300;
    text-decoration: none;
    width: 115px;
    padding: 12px 0px;
    border-radius: 4px;
    margin: 0 auto;
    &:hover {
        color: $primary-color-500;
    }
}

.star-p {
    position: relative;
    display: inline-block; // 確保寬高跟文字有關
}

.star {
    display: block;
    position: absolute;
    top: -32px;
    left: -80px;
}

.sparkle-p {
    position: relative;
    display: inline-block; // 確保寬高跟文字有關
}

.sparkle {
    display: block;
    position: absolute;
    top: 10px;
    right: -70px;
}

.shop-series {
    margin-left: -12px;
    margin-right: -12px;
}

.shop-series .row .col-3 img {
    display: block;
    width: 100%;
}

.shop-series .row .col-3 a {
    display: block;
    transition: all 0.3s ease;
    
    &:hover {
    box-shadow: 0 4px 12px rgba(57, 59, 59, 0.4);
    .shop-series-text-title {
        color: $primary-color-300;
    }
    } 
}

.img-mask {
    position: relative;
    display: block;
    width: 100%;
}

.img-mask img {
    display: block;
    width: 100%;
    height: auto;
    object-fit: cover
}

.img-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4); // 40% 黑色透明遮罩
    pointer-events: none; // 不干擾點擊
}

.shop-series-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); // 👉 正中對齊關鍵
    white-space: nowrap; // 避免換行
    color: $text-color-000;
    text-align: center;
}

.outfit {
    margin-left: -12px;
    margin-right: -12px;
}

.outfit-list {
    display: flex;
    flex-wrap: wrap;
}

.outfit-row {
    display: flex;
    flex-wrap: wrap;
}

.outfit-4 {
    display: flex;
    flex-wrap: wrap;
    width: calc(33.33333% - 8px);
}

.outfit-item-s {
    width: 50%;
}

.outfit-item-b {
    width: 100%;
}

.outfit-img {
    display: block;
    width: 100%;
    object-fit: cover
}