.login-img {
    width: 41.66667%;
    height: 601px;
    /* 你想要顯示的高度 */
    overflow: hidden;
    /* 裁切溢出部分 */
    border-radius: 12px;
    position: relative;

}

.login-img img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* 保持填滿容器 */
    object-position: top;
    /* 對齊上方，裁掉下方 */
}

.login-bg {
    background-image: url(/assets/images/login-bg.png);
    border-radius: 12px;
    padding: 120px 80px;
}

.login-btn {
    display: flex;
    text-align: center;

    a {
        display: block;
        width: 50%;
        text-decoration: none;
        color: $text-color-600;
        font-weight: 700;
        padding: 12px 0px;
        border-bottom: 2px solid $text-color-300;
    }

    .login-active {
        color: $text-color-900;
        border-bottom: 2px solid $text-color-900;
    }
}

.community-item {
    display: block;
    padding: 12px;
    background-color: $text-color-000;
    border: 1px solid $text-color-300;
    border-radius: 4px;

    .community-item-btn {
        display: flex;
        align-items: center;
        text-decoration: none;
        color: $text-color-900;
    }
}

/*login*/
@media(max-width:768px) {
    .row.my-64 {
        margin-top: 0px;
        margin-bottom: 0px;
    }

    .login-img {
        width: 100%;
        height: auto;
        /* 高度自動調整 */
        border-radius: 0px;
    }

    .col-7 {
        width: 100%;

        .login-bg {
            background-image: none;
            padding: 32px 0px;

            h1 {
                font-size: 24px;
            }
        }
    }
}