.menu-list {
  display: block;
  padding: 8px 0px;
  text-decoration: none;
  color: $text-color-900;
}

.menu-list:hover {
  color: $primary-color-400;
}

.active {
  color: $primary-color-400;
}

.card {
  overflow: visible;
  margin-left: -12px;
  margin-right: -12px;
}

.card-img {
  display: block;
  width: 100%;
  transition: box-shadow .3s ease, transform .3s ease;
}

.card a:hover .card-img {
  box-shadow: 0 8px 16px rgba(0, 0, 0, .25);
}

.card a {
  text-decoration: none;
  color:$text-color-900;
}

.card img {
  width: 100%;
}

.page {
  display: flex;
  margin: 0 auto;
}

.page-item {
  color: $text-color-900;
  text-decoration: none;
  display: block;
  padding: 8px 15px;
}

.page-item:hover,
.page-item:focus {
  background: $primary-color-100;
}

.page-active {
  background-color: $primary-color-300;
}