.story-title {
    background-image: url(/assets/images/hero.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    text-align: center;
}

.story-content {
    max-width: 1076px;
    margin: 0 auto;
}

.slogan {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background: $primary-color-100;
    padding: 32px;
}

.shoes img {
    width: 100%;
    display: block;
    object-fit: cover
}

.introduction,
.history,
.concept,
.short-story {
    margin-bottom: 24px;
    width: 80%;
    padding-left: 12px;
    padding-right: 12px;
}

.border-gray {
    border-bottom: 1px solid $text-color-300;
}

.history li {
    list-style: disc;
    list-style-position: inside;
}

.space {
    margin: 0 8px;
}

.concept-item {
    border-left: 3px solid $text-color-300;
}

.short-story li a {
    border-bottom: 1px solid $primary-color-400;
}

.short-story a:hover {
    color: $primary-color-500;
    border-bottom: 1px solid $primary-color-500;
}