.story-title {
    background-image: url(/assets/images/hero.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    text-align: center;
}

.story-content {
    max-width: 1076px;
    margin: 0 auto;
}

.slogan {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background: $primary-color-100;
    padding: 32px;
}

.shoes img {
    width: 100%;
    display: block;
}

.introduction,
.history,
.concept,
.short-story {
    margin-bottom: 24px;
    width: 80%;
    padding-left: 12px;
    padding-right: 12px;
}

.border-gray {
    border-bottom: 1px solid $text-color-300;
}

.history li {
    list-style: disc;
    list-style-position: inside;
}

.space {
    margin: 0 8px;
}

.concept-item {
    border-left: 3px solid $text-color-300;
}

.short-story li a {
    border-bottom: 1px solid $primary-color-400;
}

.short-story a:hover {
    color: $primary-color-500;
    border-bottom: 1px solid $primary-color-500;
}


/*響應式*/
@media(max-width:768px) {

    /*story*/
    .story-title {
        background-image: url(/assets/images/hero-sm.png);
        background-size: cover;
        padding: 87px 0px;
    }

    .story-title h1 {
        font-size: 28px;
        margin-bottom: 8px;
    }

    .story-title span {
        font-size: 20px;
    }

    .slogan {
        width: 100%;
        text-align: start;
        padding: 24px;
    }

    .story-content .slogan {
        margin: 32px 0px;

    }

    .introduction,
    .history,
    .concept,
    .short-story {
        width: 100%;
        padding-bottom: 32px;
        margin-bottom: 16px;
    }

    .introduction-title {
        font-size: 20px;
        font-weight: 700;
        margin: 16px 0px;
    }

    .introduction .slogan-title {
        font-size: 16px;
        line-height: 1.5;
    }

    .introduction h3 {
        margin-bottom: 12px;
    }
}