<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>首頁</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
</head>

<body>
    <%- include('./layout/header'); -%>
        <div class="d-none">
            <div class="index-btn">
                <a href="productList.html" class="index-btn-1">商品列表</a>
                <a href="story.html" class="index-btn-2">品牌故事</a>
            </div>
        </div>
        <div class="banner mb-64">
            <h2 class="banner-title mb-16">URBNSTEP</h2>
            <p class="banner-text mb-48">Your Step, Your Statement</p>
            <a href="#" class="bannerBtn">立即選購</a>
        </div>
        <div class="container">
            <div class="newArrival">
                <h3 class="newArrival-title mb-12">New Arrival</h3>
                <p class="newArrival-text mb-32">新品上市</p>
            </div>
            <div class="newArrival-list mb-64">
                <div class="newArrival-item mb-16">
                    <img src="/assets/images/new-1.png" class="mb-12" alt="new-1">
                    <h4 class="new-title mb-4">Monoverse</h4>
                    <p>NT$3,600</p>
                </div>
                <div class="newArrival-item mb-16">
                    <img src="/assets/images/new-2.png" class="mb-12" alt="new-1">
                    <h4 class="new-title mb-4">PLATFORM 404</h4>
                    <p>NT$3,600</p>
                </div>
                <div class="newArrival-item mb-16">
                    <img src="/assets/images/new-3.png" class="mb-12" alt="new-1">
                    <h4 class="new-title mb-4">URBN Force</h4>
                    <p>NT$3,200</p>
                </div>
                <div class="newArrival-item mb-16">
                    <img src="/assets/images/new-4.png" class="mb-12" alt="new-1">
                    <h4 class="new-title mb-4">Mode90</h4>
                    <p>NT$4,000</p>
                </div>
            </div>
            <div class="hot-sale d-none">
                <h4 class="mb-21">熱銷補貨</h4>
                <div class="swiper row mb-64">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="col-3 hotsale-img">
                                <a href="#">
                                    <img src="/assets/images/product-3.png" alt="shoes">
                                    <div class="number-1">人氣 No.1</div>
                                </a>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="col-3 hotsale-img">
                                <a href="#">
                                    <img src="/assets/images/product.png" alt="shoes">
                                    <div class="number-1">人氣 No.1</div>
                                </a>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="col-3 hotsale-img">
                                <a href="#">
                                    <img src="/assets/images/product-6.png" alt="shoes">
                                    <div class="number-1">人氣 No.1</div>
                                </a>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="col-3 hotsale-img">
                                <a href="#">
                                    <img src="/assets/images/product-4.png" alt="shoes">
                                    <div class="number-1">人氣 No.1</div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="hot-sale rwd-none">
                <h4 class="mb-21">熱銷補貨</h4>
                <div class="row mb-64">
                    <div class="col-3 hotsale-img">
                        <a href="#">
                            <img src="/assets/images/product-3.png" alt="shoes">
                            <div class="number-1">人氣 No.1</div>
                        </a>
                    </div>
                    <div class="col-3 hotsale-img">
                        <a href="#">
                            <img src="/assets/images/product.png" alt="shoes">
                            <div class="number-1">人氣 No.1</div>
                        </a>
                    </div>
                    <div class="col-3 hotsale-img">
                        <a href="#">
                            <img src="/assets/images/product-6.png" alt="shoes">
                            <div class="number-1">人氣 No.1</div>
                        </a>
                    </div>
                    <div class="col-3 hotsale-img">
                        <a href="#">
                            <img src="/assets/images/product-4.png" alt="shoes">
                            <div class="number-1">人氣 No.1</div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="py-48">
            <div class="banner-co-branded pt-100">
                <div class="d-flex mb-16">
                    <h5 class="star-p">URBNSTEP
                        <img src="/assets/images/star.svg" class="star" alt="star">
                    </h5>
                    <h5 class="banner-x mx-24">x</h5>
                    <h5>Kevin Chen</h5>
                </div>
                <p class="banner-co-branded-text mb-32">跨界聯名，限量發售</p>
                <p class="banner-co-branded-text-s sparkle-p mb-48">新銳漫畫家 Kevin Chen 親自操刀設計，街頭能量全面引爆！
                    <img src="/assets/images/sparkle.svg" class="sparkle" alt="sparkle">
                </p>
                <a href="#" class="banner-co-branded-Btn">立即搶購</a>
            </div>
        </div>
        <div class="container">
            <div class="shop-series">
                <h4 class="mt-64 mb-16">依系列選購</h4>
                <div class="row mb-64">
                    <div class="col-3">
                        <a href="#">
                            <div class="img-mask">
                                <img src="/assets/images/product-6.png" alt="shoes">
                                <div class="img-overlay"></div>
                                <div class="shop-series-text">
                                    <p class="shop-series-text-title mb-8">URBN RUNNER</p>
                                    <p class="shop-series-text-s">慢跑系列</p>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-3">
                        <a href="#">
                            <div class="img-mask">
                                <img src="/assets/images/product-11.png" alt="shoes">
                                <div class="img-overlay"></div>
                                <div class="shop-series-text">
                                    <p class="shop-series-text-title mb-8">STREETMODE</p>
                                    <p class="shop-series-text-s">滑板系列</p>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-3">
                        <a href="#">
                            <div class="img-mask">
                                <img src="/assets/images/product-4.png" alt="shoes">
                                <div class="img-overlay"></div>
                                <div class="shop-series-text">
                                    <p class="shop-series-text-title mb-8">CHUNK DISTRICT</p>
                                    <p class="shop-series-text-s">厚底系列</p>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-3">
                        <a href="#">
                            <div class="img-mask">
                                <img src="/assets/images/product-10.png" alt="shoes">
                                <div class="img-overlay"></div>
                                <div class="shop-series-text">
                                    <p class="shop-series-text-title mb-8">COLLAB ZONE</p>
                                    <p class="shop-series-text-s">聯名企劃</p>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="outfit pb-72">
                <div class="outfit-content">
                    <h4 class="mt-64 mb-16">穿搭靈感</h4>
                </div>
                <div class="outfit-list rwd-none">
                    <div class="outfit-row g-8">
                        <div class="outfit-4 g-8">
                            <div class="d-flex g-8">
                                <div class="outfit-item-s">
                                    <img src="/assets/images/inspiration-1.png" class="outfit-img" alt="inspiration-1">
                                </div>
                                <div class="outfit-item-s">
                                    <img src="/assets/images/inspiration-2.png" class="outfit-img" alt="inspiration-2">
                                </div>
                            </div>
                            <div class="outfit-item-b">
                                <img src="/assets/images/inspiration-3.png" class="outfit-img" alt="inspiration-3">
                            </div>
                        </div>
                        <div class="outfit-4 g-8">
                            <div class="d-flex g-8">
                                <div class="outfit-item-s">
                                    <img src="/assets/images/inspiration-4.png" class="outfit-img" alt="inspiration-4">
                                </div>
                                <div class="outfit-item-s">
                                    <img src="/assets/images/inspiration-5.png" class="outfit-img" alt="inspiration-5">
                                </div>
                            </div>
                            <div class="d-flex g-8">
                                <div class="outfit-item-s">
                                    <img src="/assets/images/inspiration-6.png" class="outfit-img" alt="inspiration-6">
                                </div>
                                <div class="outfit-item-s">
                                    <img src="/assets/images/inspiration-7.png" class="outfit-img" alt="inspiration-7">
                                </div>
                            </div>
                            <div class="d-flex g-8">
                                <div class="outfit-item-s">
                                    <img src="/assets/images/inspiration-8.png" class="outfit-img" alt="inspiration-8">
                                </div>
                                <div class="outfit-item-s">
                                    <img src="/assets/images/inspiration-9.png" class="outfit-img" alt="inspiration-9">
                                </div>
                            </div>
                        </div>
                        <div class="outfit-4 g-8">
                            <div class="outfit-item-b">
                                <img src="/assets/images/inspiration-10.png" class="outfit-img" alt="inspiration-10">
                            </div>
                            <div class="d-flex g-8">
                                <div class="outfit-item-s">
                                    <img src="/assets/images/inspiration-11.png" class="outfit-img"
                                        alt="inspiration-11">
                                </div>
                                <div class="outfit-item-s">
                                    <img src="/assets/images/inspiration-12.png" class="outfit-img"
                                        alt="inspiration-12">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--RWD輪播穿搭系統-->
                <div class="d-none">
                    <div class="outfit-list swiper">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <img src="/assets/images/inspiration-1.png" class="outfit-img" alt="inspiration-1">
                            </div>
                            <div class="swiper-slide">
                                <img src="/assets/images/inspiration-2.png" class="outfit-img" alt="inspiration-2">
                            </div>
                            <div class="swiper-slide">
                                <img src="/assets/images/inspiration-3.png" class="outfit-img" alt="inspiration-3">
                            </div>
                            <div class="swiper-slide">
                                <img src="/assets/images/inspiration-4.png" class="outfit-img" alt="inspiration-3">
                            </div>
                            <div class="swiper-slide">
                                <img src="/assets/images/inspiration-5.png" class="outfit-img" alt="inspiration-3">
                            </div>
                            <div class="swiper-slide">
                                <img src="/assets/images/inspiration-6.png" class="outfit-img" alt="inspiration-3">
                            </div>
                            <div class="swiper-slide">
                                <img src="/assets/images/inspiration-7.png" class="outfit-img" alt="inspiration-3">
                            </div>
                            <div class="swiper-slide">
                                <img src="/assets/images/inspiration-8.png" class="outfit-img" alt="inspiration-3">
                            </div>
                            <div class="swiper-slide">
                                <img src="/assets/images/inspiration-9.png" class="outfit-img" alt="inspiration-3">
                            </div>
                            <div class="swiper-slide">
                                <img src="/assets/images/inspiration-10.png" class="outfit-img" alt="inspiration-3">
                            </div>
                            <div class="swiper-slide">
                                <img src="/assets/images/inspiration-11.png" class="outfit-img" alt="inspiration-3">
                            </div>
                            <div class="swiper-slide">
                                <img src="/assets/images/inspiration-12.png" class="outfit-img" alt="inspiration-3">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <%- include('./layout/footer'); -%>
            <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
            <script type="module" src="../main.js"></script>

            <script>
                document.addEventListener('DOMContentLoaded', function () {
                    new Swiper('.swiper', {
                        loop: true,
                        slidesPerView: 1.2,
                        spaceBetween: 16,
                        pagination: {
                            el: '.swiper-pagination',
                            clickable: true
                        }
                    });
                });
            </script>
</body>

</html>