<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>收藏頁</title>
</head>

<body>
    <%- include('./layout/header'); -%>
        <div class="container">
            <div class="row my-64">
                <picture class="login-img">
                    <source srcset="/assets/images/login-sm.png" media="(max-width: 768px)">
                    <img src="/assets/images/login.png" alt="login">
                </picture>
                <div class="col-7">
                    <div class="login-bg">
                        <h1 class="mb-32">歡迎！</h1>
                        <div class="login-btn mb-32">
                            <a href="#" id="loginTab" class="login-active">登入</a>
                            <a href="#" id="registerTab">註冊</a>
                        </div>
                        <!-- 登入 -->
                        <ul id="loginForm" class="community">
                            <li class="community-item mb-8">
                                <a href="#" class="community-item-btn">
                                    <img src="/assets/images/facebook.svg" class="mr-12" alt="facebook">
                                    <p>Facebook 登入</p>
                                </a>
                            </li>
                            <li class="community-item mb-8">
                                <a href="#" class="community-item-btn">
                                    <img src="/assets/images/apple.svg" class="mr-12" alt="apple">
                                    <p>Apple 登入</p>
                                </a>
                            </li>
                            <li class="community-item">
                                <a href="#" class="community-item-btn">
                                    <img src="/assets/images/google.svg" class="mr-12" alt="Google">
                                    <p>Google 登入</p>
                                </a>
                            </li>
                        </ul>
                        <!-- 註冊 -->
                        <ul id="registerForm" class="community d-none">
                            <li class="community-item mb-8">
                                <a href="#" class="community-item-btn">
                                    <img src="/assets/images/facebook.svg" class="mr-12" alt="facebook">
                                    <p>Facebook 註冊</p>
                                </a>
                            </li>
                            <li class="community-item mb-8">
                                <a href="#" class="community-item-btn">
                                    <img src="/assets/images/apple.svg" class="mr-12" alt="apple">
                                    <p>Apple 註冊</p>
                                </a>
                            </li>
                            <li class="community-item">
                                <a href="#" class="community-item-btn">
                                    <img src="/assets/images/google.svg" class="mr-12" alt="Google">
                                    <p>Google 註冊</p>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <%- include('./layout/footerNo'); -%>
            <script type="module" src="../main.js"></script>


            <script>
                const loginTab = document.getElementById('loginTab');
                const registerTab = document.getElementById('registerTab');
                const loginForm = document.getElementById('loginForm');
                const registerForm = document.getElementById('registerForm');

                loginTab.addEventListener('click', function (e) {
                    e.preventDefault();
                    loginTab.classList.add('login-active');
                    registerTab.classList.remove('login-active');
                    loginForm.style.display = 'block';
                    registerForm.style.display = 'none';
                });

                registerTab.addEventListener('click', function (e) {
                    e.preventDefault();
                    registerTab.classList.add('login-active');
                    loginTab.classList.remove('login-active');
                    loginForm.style.display = 'none';
                    registerForm.style.display = 'block';
                });
            </script>
</body>

</html>